In [1]:
23 % 2

1

In [2]:
2 ** 3

8

In [7]:
'tinker'[::-1]

'reknit'

In [8]:
'2' + 3

TypeError: can only concatenate str (not "int") to str

In [10]:
x = "Hello World"
print(x.upper())
x

HELLO WORLD

'Hello World'

In [11]:
arraylist = [1,2,3]
arraylist[1:]

[2, 3]

In [85]:
s= "header,header\nANNUL,ANNULED\nnull,NILL\nNULL,NULL"
rows = s.split('\n')
for i in range (len(rows)):
    columns = rows[i].split(',')
    for j in range(len(columns)):
        if columns[j] == 'NULL':
            rows.pop(i)
            break
    i = i + 1
    
print(rows)
salida = ''
for row in rows:
    salida = salida + ''.format(row,"\n") + row + '\n'
    



#\nNUiL,NUiL

['header,header', 'ANNUL,ANNULED', 'null,NILL', 'NULL,NULL']
0
header
header
1
ANNUL
ANNULED
2
null
NILL
3
NULL
['header,header', 'ANNUL,ANNULED', 'null,NILL']
header,header
ANNUL,ANNULED
null,NILL

In [86]:
t = ('a', 'b', 'a')
t.count('a')

2

In [87]:
myset = set()

type(myset)

set

In [88]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the thrid line

Writing myfile.txt

In [89]:
pwd

'/Users/dandresavid/Documents/courses/phyton-course/Training'

In [90]:
myfile = open('myfile.txt')
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [91]:
myfile.read()

''

In [92]:
myfile.seek(0)
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [93]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the thrid line\n',
 '\n',
 '\n']

In [94]:
with open('myfile.txt') as my_new_file:
    content = my_new_file.read()

In [95]:
content

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [96]:
with open('myfile.txt', mode='r') as myfile:
    constent = myfile.read()

In [97]:
content

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [98]:
with open('myfile.txt', mode='w') as myfile:
    constent = myfile.read()

UnsupportedOperation: not readable

In [99]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [100]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [102]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR on FOURTH')

In [103]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR on FOURTH

In [104]:
with open('fdsfsfd.txt', mode ='w') as f:
    f.write('I CREATE THIS FILE!')

In [106]:
with open('fdsfsfd.txt', mode = 'r') as f:
    print(f.read())

I CREATE THIS FILE!

In [107]:
4**0.5

2.0

In [115]:
'hello'[::-1]

'olleh'

In [118]:
print('hello'[4])
print('hello'[-1])

o
o

In [119]:
print([0,0,0])
print([0]*3)

[0, 0, 0]
[0, 0, 0]

In [120]:
list3 =[1,2,[3,4, 'Hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [124]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [126]:
d = {'simple_key':'hello'}
print(d['simple_key'])

hello

In [127]:
d = {'k1':{'k2':'hello'}}
print(d['k1']['k2'])

hello

In [128]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1][0])

hello

In [129]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2])

['hello']

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
myset = set()
myset = list5
print(myset)