In [1]:
23 % 2

1

In [2]:
2 ** 3

8

In [7]:
'tinker'[::-1]

'reknit'

In [8]:
'2' + 3

TypeError: can only concatenate str (not "int") to str

In [10]:
x = "Hello World"
print(x.upper())
x

HELLO WORLD

'Hello World'

In [11]:
arraylist = [1,2,3]
arraylist[1:]

[2, 3]

In [85]:
s= "header,header\nANNUL,ANNULED\nnull,NILL\nNULL,NULL"
rows = s.split('\n')
for i in range (len(rows)):
    columns = rows[i].split(',')
    for j in range(len(columns)):
        if columns[j] == 'NULL':
            rows.pop(i)
            break
    i = i + 1
    
print(rows)
salida = ''
for row in rows:
    salida = salida + ''.format(row,"\n") + row + '\n'
    



#\nNUiL,NUiL

['header,header', 'ANNUL,ANNULED', 'null,NILL', 'NULL,NULL']
0
header
header
1
ANNUL
ANNULED
2
null
NILL
3
NULL
['header,header', 'ANNUL,ANNULED', 'null,NILL']
header,header
ANNUL,ANNULED
null,NILL

In [86]:
t = ('a', 'b', 'a')
t.count('a')

2

In [87]:
myset = set()

type(myset)

set

In [88]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the thrid line

Writing myfile.txt

In [89]:
pwd

'/Users/dandresavid/Documents/courses/phyton-course/Training'

In [90]:
myfile = open('myfile.txt')
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [91]:
myfile.read()

''

In [92]:
myfile.seek(0)
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [93]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the thrid line\n',
 '\n',
 '\n']

In [94]:
with open('myfile.txt') as my_new_file:
    content = my_new_file.read()

In [95]:
content

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [96]:
with open('myfile.txt', mode='r') as myfile:
    constent = myfile.read()

In [97]:
content

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n\n\n'

In [98]:
with open('myfile.txt', mode='w') as myfile:
    constent = myfile.read()

UnsupportedOperation: not readable

In [99]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [100]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [102]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR on FOURTH')

In [103]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR on FOURTH

In [104]:
with open('fdsfsfd.txt', mode ='w') as f:
    f.write('I CREATE THIS FILE!')

In [106]:
with open('fdsfsfd.txt', mode = 'r') as f:
    print(f.read())

I CREATE THIS FILE!

In [107]:
4**0.5

2.0

In [115]:
'hello'[::-1]

'olleh'

In [118]:
print('hello'[4])
print('hello'[-1])

o
o

In [119]:
print([0,0,0])
print([0]*3)

[0, 0, 0]
[0, 0, 0]

In [120]:
list3 =[1,2,[3,4, 'Hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [124]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [126]:
d = {'simple_key':'hello'}
print(d['simple_key'])

hello

In [127]:
d = {'k1':{'k2':'hello'}}
print(d['k1']['k2'])

hello

In [128]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1][0])

hello

In [133]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

In [131]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
myset = set(list5)
print(myset)

{1, 2, 33, 4, 3, 11, 22}

In [132]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [137]:
milist = [1, 2, 3]

for num in range(3,10,2):
    print(num)

3
5
7
9

In [139]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [140]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [141]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [142]:
mylist1 = [1, 2, 3, 4, 5]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [143]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [144]:
'x' in ['x', 'y', 3]

True

In [146]:
d = {'mykey': 345}
print(345 in d.keys())
print(345 in d.values())

False
True

In [148]:
min(mylist1)

1

In [149]:
max(mylist1)

3

In [150]:
from random import shuffle

In [151]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)

In [152]:
mylist

[2, 7, 6, 10, 8, 1, 4, 3, 5, 9]

In [153]:
shuffle(mylist)

In [154]:
mylist

[1, 3, 7, 9, 4, 5, 10, 2, 8, 6]

In [155]:
from random import randint
randint(0,100)

62

In [156]:
randint(0,100)

25

In [161]:
result = input('Enter a number')

Enter a number6

In [163]:
result

'6'

In [164]:
int(result)

6

In [165]:
mystring = 'hello'

mylist = [letter for letter in mystring]

In [166]:
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [168]:
mylist = [num**2 for num in range(0,11)]

In [169]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [172]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [173]:
mylist

[0, 4, 16, 36, 64, 100]

In [174]:
celcius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)* temp + 32) for temp in celcius]

In [175]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [177]:
mylist=[1,2,3]
mylist.insert(4,4)

In [179]:
print(mylist)

[1, 2, 3, 4]

In [180]:
mylist.insert(4,7)
print(mylist)

[1, 2, 3, 4, 7]

In [184]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [186]:
def say_hello():
    print('Hello')

In [187]:
say_hello()

Hello

In [196]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [195]:
say_hello('Andres')

Hello Andres

In [197]:
say_hello()

Hello Default

In [198]:
example = [1,2,3,4,5,6,7]

In [199]:
from random import shuffle

In [200]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [ ]:
result = shuffle_list(example)

In [201]:
mylist = ['', '0', '']

In [202]:
shuffle_list(mylist)

['0', '', '']

In [203]:
def player_guess():
    guess = ''
    while guess not in ['0', '1', '2']:
        guess =input('Pick a number: 0, 1 or 2')
    return int(guess)

In [205]:
myindex = player_guess()

Pick a number: 0, 1 or 20

In [206]:
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [209]:
#INITIAL LIST
mylist = ['', '0', '']

#SHUFFLE LIST
mixedup_list =shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0, 1 or 20
Wrong guess!
['', '', '0']

In [219]:
def myfunc(str):
    newword = ''
    for i in range(0,len(str)):
        if i%2 == 0:
            newword = newword + str[i].lower()
        else:
            newword = newword + str[i].upper()
    return newword

In [220]:
myfunc('Andres')

'aNdReS'

In [222]:
def square(num):
    return num**2

In [223]:
my_nums = [1,2, 3, 4, 5]

In [224]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [225]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [226]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [227]:
names = ['Andy', 'Eve', 'Sally']

In [228]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [229]:
def check_even(num):
    return num%2 == 0

In [230]:
mynum =[1,2,3,4,5,6]

In [232]:
list(filter(check_even,mynum))

[2, 4, 6]

In [233]:
square = lambda num: num**2

In [234]:
square(25)

625

In [235]:
square(3)

9

In [237]:
list(map(lambda num:num**2, mynum))

[1, 4, 9, 16, 25, 36]

In [239]:
list(filter(lambda num: num%2== 0, mynum))

[2, 4, 6]

In [240]:
names

['Andy', 'Eve', 'Sally']

In [242]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']

In [1]:
try:
    result = 10 + '10'
except:
    print('Hey it looks like you are not adding correctly!')
else:
    print('Add went well!')
    print(result)

Hey it looks like you are not adding correctly!

In [3]:
try:
    f = open('tetsfile', 'r')
    f.write('Write a test line')
except TypeError:
    print('There was a type error!')
except OSError:
    print('Hey you have an OS Error')
except:
    print('All other exceptions!')
finally:
    print('I always run')

Hey you have an OS Error
I always run

In [6]:
def ask_for_int():
    while True:
        try:
            result = int(input('Please provide a number'))
        except:
            print('Whoops! That is not a number')
            continue
        else:
            print('Yes, thank you')
            break
        finally:
            print('I am going to try again')
            print('I will always run at the end!')

In [7]:
ask_for_int()

Please provide a numbero
Whoops! That is not a number
End or try/except?finally
I will always run at the end!
Please provide a numbero
Whoops! That is not a number
End or try/except?finally
I will always run at the end!
Please provide a numbero
Whoops! That is not a number
End or try/except?finally
I will always run at the end!
Please provide a number2
Yes, thank you
End or try/except?finally
I will always run at the end!